*{
    margin: 0px;
    padding: 0px;
}
#container{
    width: 1175px;
    height: 750px;
    background-color: rgb(27, 53, 91);
    padding: 10px;
}
#header{
    width: auto;
    height: 60px;
    border-radius: 5px;
    background-color: rgb(211, 45, 57);
    padding: 20px 0px 0px 20px;
}
.text_color{
    color: rgb(193, 214, 234);
}
#body{
    width: auto;
    margin-top: 20px;
    height: 500px;
}
#navigation{
    width: 190px;
    height: 240px;
    border-radius: 20px;
    background-color: rgb(30, 125, 139);
    display: inline-block;
    padding-left: 30px;
    padding-top: 20px;
    margin-right: 15px;
}
ul{
    margin-left: 10px;
    display: list-item;
    text-decoration: underline;
}
#list_home{
    color: rgb(84, 208, 203);
    text-decoration: underline;
    position: relative;
    right: 10px;
}
li .sub_tabs{
    list-style-type: none; 
}
#inner_tabs{
    margin-left: 20px;
}
.list_text_color{
    color: rgb(84, 208, 203);
}
#main_info{
    width: 915px;
    height: 495px;
    border-radius: 20px;
    background-color: rgb(14, 24, 33);
    display: inline-block;
    padding-left: 20px;
    padding-top: 30px;
    vertical-align: top;
}
h2{
    margin-bottom: 10px;
}
#main_info p{
    margin-bottom: 10px;
}
#main_info ul{
    text-decoration: none;
    margin-bottom: 10px;
}
#main_info ul li{
    margin-bottom: 10px;
    width: 900px;
}
#main_info .body_list_name{
    text-decoration: underline;
    color: rgb(84, 208, 203);
}
#main_info .examples{
    color: rgb(130, 146, 255);
}
#footer{
    width: auto;
    height: 40px;
    margin-top: 40px;
    border-radius: 20px;
    background-color: rgb(93, 102, 114);
    padding: 20px 0px 0px 20px;
}
#footer a{
    color: rgb(84, 208, 203);
}
